

/* Global Styles */

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #dfdfdf;
  max-width: 1280px;
  height: 100%;
}

.HeaderContainer
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #333;
  color: #fff;
  margin: 10px;
  padding: 1rem 2rem;
  text-align: start;
}

.HeaderTitle
{
  font-size: 1.25rem;
  margin: 0;
}

.addItem_btn
{
  position: absolute;
  display: flex;

  bottom: 32px;
  right: 32px;
  height: fit-content;
  width: fit-content;

 
  box-shadow: #333 0px 0px 8px 8px;
  border-radius: 100%;
  z-index: 10;

}

.back_btn
{
  font-weight: 800;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  align-self: flex-end;
}

.add-shopping-item-container 
{
  position: absolute;
  top: 16%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  padding: 0.75em;
  max-width: 600px;
  /* width: 97%; */
  height: 80%;
  background-color: #9b9b9b;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.input-container
{
  padding:8px;
  justify-content:space-between;

}

.hgroup
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-shopping-item-group
{
  background: #696969;
  margin: 8px 8px;
  padding: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 8px */
}
.add-shopping-item-input 
{
  padding: 0.1rem 4px;
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 50%;
  height: 32px;
  margin: 0.26rem;
}
.add-shopping-item-input[type='number'] 
{
  width: 50%;  
}
.add-shopping-item-input::placeholder 
{
  color: #aaa;
  padding: 0rem 0.5rem;
  font-size: 0.75rem;
}
.add-shopping-item-button 
{
  width: 50px;
  height: 50px;
  background-color: #f8f8f8;
  color: #fff;
  border: black solid 1px;
  padding: 0.5rem 0.5rem;
  /* margin: 0.6rem 0.5rem 0rem 0rem; */
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50px;
}
.add-shopping-item-button:hover 
{
  background-color: #c5ffcd;
  border: wheat solid 1px;
  box-shadow: black 0px 0px 5px;
}
.add-shopping-item-label 
{
  font-size: 12px;  
  text-align: start;
  font-weight: 600;
  color: #ebebeb;
}
.add-shopping-item-label span 
{
  color: #929292;
}
.calculate-item
{
  padding: 4px 16px;
  margin: 16px;
  background: #4b4b4b;
  width: 86%;
  height: 32px;
  border-radius: 4px;
  color: whitesmoke;
  text-align: left;
  border-top-left-radius: 0;
  border-top-right-radius: 0;  
  box-shadow: #333 0px 2px 4px;
}
.other-inputs-group
{
  padding:4px;
  display: flex;
  align-items: start;
  /* justify-content: space-between; */
}
.category-select
{
  margin:  0 16px;
  padding: 4px;
  height: 50px;
  width: 126px
}
.inc_dec_quant .category-editselect
{
  margin: 2px 1px 10px 0px;
  padding: 1px;
  height: 25px;
  width: 81px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
textarea
{
  margin: 10px 16px 10px 0px;
  padding: 2px;
  height: 86px;
  align-self: start;
  justify-self: center;
  width: 100%;
  resize: none;
}

.expense_search
{
  display: flex;
  flex-direction: column;
  margin: 4px;
  padding: 8px;
  width: 96%;
  justify-content: space-between;
  gap: 2%;
}

.expense_search .search-input-button, input
{
  flex: 1;
  max-width: 400px;  
  width: 100%;
}

.expense_search input
{  
  
  width: 80%;
  border-radius: 25px;
}

.expense_search button
{  
  padding: 5px;
  border-radius: 25px;

  transform: translate(-100%, 3%);
  background: #333;
  color: white;
}

.filter
{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.filter select
{
  width: 96px;
}

ul.shopping-list 
{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

ul.shopping-list 
{
  overflow-y: auto; /* Enable scrolling */
}

.shopping-list li 
{
  padding: 0.5rem;
  border-bottom: 1px solid #696969;  
}

.shopping-list li:first-child 
{
  border-top: 1px dotted #ccc;
}

.shopping-list li:last-child 
{
  border-bottom: 1px dotted #ccc;
  
}

/* Shopping List Item Styles */
.shopping-list-item 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 4px;
  background-color: #696969;
  border-radius: 32px;
}

.list-item-group
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  gap: 8px;
}

.otherAtt
{
  display: flex;
  align-items: center ;
  
}

.btn-h-group
{
  
  right: 32px;
  display: flex;
  align-self: flex-end;
  /* transform: translateY(-100px); */
}

.textarea
{
  width: 96%;
}
.textarea textarea
{
  height: max-content;
}

.shopping-list-item span 
{
  flex-grow: 1;
  text-align: start;
  padding: 0px 16px;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
}

.shopping-list-item button 
{
  width: 40px;
  height: 40px;
  margin-left: 0.5rem;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;  
}

.shopping-list-item button:hover 
{
  background-color: #d1b200;
}

.shopping-list-item button#delete:hover 
{
  background-color: #b61b00;
}

.shopping-list-item button#update:hover 
{
  background-color: #2a9b1c;
  /* margin-right: 10px; */
}


.shopping-list-item button .icn
{
  font-size: 18px;
  transform: translate(-8px, -2px);
}

.shopping-list-item button#delete .icn
{
  font-size: 26px;
  transform: translate(-6px, -7px );
}

.shopping-list-item button#update .icn
{
  font-size: 26px;
  transform: translate(-9px, -8px );
}

/* Edit Form Styles */
#edit-form 
{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  padding: 1rem;
  gap: 4px;
}

#edit-form input[type="text"] 
{
  flex: 1;
  padding: 0.35rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* width: 100%; */
}


.inc_dec_quant
{
  margin-left: 4px;
  padding: 0px 4px;
  display: flex;
  background: #a0a0a042;
  height: 28px;
  width: 100px;
  border-radius: 25px;

}

.inc_dec_quant#type
{width: 112px;}

.inc_dec_quant#category
{width: 171px;}

.inc_dec_quant#price
{width: 112px;}

.inc_dec_quant#qty
{width: 100px;}

.inc_dec_quant#total
{width: 120px;}

.inc_dec_quant button
{
  width: 30px;
  height: 32px;
}

.inc_dec_quant button .icn
{
  font-size: 12px;
  transform: translate(-8px, -2px);
}

.inc_dec_quant span, input
{
  width: 64px;
  text-align: justify;  
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: 800;
}

.inc_dec_quant input
{
  width: 100%;
  text-align: center;  
  background: #69696900;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
}