/* Base Styles (Mobile First) */
#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
}

.HeaderContainer {
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  padding: 1rem;
}

.HeaderContainer a { color: aliceblue;}

.add-shopping-item-group
{
  flex-direction: column; /* Stack inputs vertically */
}

.add-shopping-item-input {
  width: 100%; /* Full width on mobile */
}

.add-shopping-item-button {
  width: 100%; /* Full width button on mobile */
}

/* Media Queries */
@media (min-width: 600px) 
{
  .App
  {
    background: rgb(185, 185, 185);
  }

  #root {
    max-width: 1280px;
    padding: 2rem;
  }

  .HeaderContainer {
    flex-direction: row; /* Align items horizontally on larger screens */
    justify-content: space-between;
  }

  .add-shopping-item-group {
    flex-direction: row; /* Align inputs in a row */
  }

  .add-shopping-item-input {
    width: auto; /* Adjust width for larger screens */
    margin-right: 1rem; /* Add space between inputs */
  }

  .add-shopping-item-button {
    width: auto; /* Adjust button size */
  }
}

@media (min-width: 768px) 
{
  .App
  {
    width: 100%;
    height: 100%;
    background: grey;
  }

  ul.shopping-list
  {
    height: 100%;
  }
  
  .shopping-list-item 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-item-group
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
  .list-item-group {
    width: 100%; /* Full width for larger screens */
  }

  .expense_search
  {
    display: flex;
    flex-direction: row;
    margin: 4px;
    justify-content: center;
    align-items: center;
  }

  .filter
  {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .filter select
  {
    width: 200px;
  }
}


